<h1>Leet Speak Translator</h1>

<form action="/result" method="post">
  <label for="phrase">Enter your phrase:</label>
  <input id="phrase" name="phrase">

  <button type="submit">Translate it!</button>
</form>
